# USER CONFIG
ACCOUNT=

# PROJECT CONFIG
PROJECT_NUMBER=
PROJECT_ID=
NAME=

# ORGANIZATION CONFIG
ORGANIZATION_ID=
ORGANIZATION_NAME=

# CUSTOM ROLE CONFIG
CUSTOM_ROLE_NAME=
CUSTOM_ORG_ROLE_NAME=
CUSTOM_ROLE_DESCRIPTION=""

